<!doctype html>
<html>
{% include head.html %}

<body style="margin:0; padding: 0; width:100% !important;">
  <center>
    <!--// Email body wrapper table  -->
    <table class="body-wrapper"  style="background-color:#ffffff;" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">

      <!-- HERO HEADER : 1-COLUMN SCAFFOLD FOR // -->

      <tr>
        <td class="section section--content" align="center" style="text-align:left; padding-left:10px; padding-right:10px;" height="100%" valign="top" width="100%">
          <!--// CONTENT-->
                {{ content }}
          <!--CONTENT //-->


        </td>
      </tr>
      <tr>
        <td class="">
        
        </td>
      </tr>

    </table>
    <!--// Email body wrapper table  -->
  </center>
</body>

</html>
