---
layout: layout-base
title: F1 Base
heroimage: f1-logo.jpg
bodyclass:


---


<!-- // 1-COLUMN SCAFFOLD: MAIN DECK-->
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tr>
    <td align="center" height="100%" valign="top" width="100%">


      {% include feature-article.html %}


    </td>
  </tr>
  <tr>
    <td align="center" height="100%" valign="top" width="100%">


      {% include slat-article--fluid.html %}


    </td>
  </tr>

  <tr>
    <td align="center" height="100%" valign="top" width="100%">


      {% include slat-article.html %}


    </td>
  </tr>
</table>
<!-- 1-COLUMN SCAFFOLD: MAIN DECK // -->
